@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./variables.css?v=0.96");
@import url("./desktop.css?v=0.96");
@import url("./mobile.css?v=0.96");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 0.755vw;
  font-family: "Montserrat", sans-serif;
  color: var(--black);
}

html,
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

i {
  font-size: inherit;
}

ul {
  list-style: none;
}

button,
input,
select {
  background-color: unset;
  color: inherit;
  outline: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--dark-blue);
}

.close {
  position: absolute;
  color: var(--red) !important;
  cursor: pointer;
  padding: 0.25rem 0.4rem;
  border-radius: 10rem;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.hidden {
  display: none !important;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1rem);
}

@keyframes beat {
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

@media (max-aspect-ratio: 1/1) {
  ::-webkit-scrollbar {
    display: none;
  }

  .close {
    padding: 2.5rem;
    top: 0;
    right: 0;
  }

  .blur {
    backdrop-filter: blur(0rem);
  }
}
