@media (max-aspect-ratio: 1/1) {
  /* ================================================== Navigation ================================================== */

  nav {
    height: 20rem;
    padding: 0 5rem;
    justify-content: center;
  }

  nav.initial {
    height: 25rem;
  }

  nav #menu {
    font-size: 6rem;
    padding: 2.5rem 5rem;
    display: block;
    position: absolute;
    left: 0;
  }

  nav #logo {
    height: 12rem;
    margin-right: 3rem;
  }

  nav h1 {
    font-size: 6rem;
  }

  nav ul {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
    width: 120rem;
    height: calc(100vh - 20rem);
    background-color: var(--white);
    flex-direction: column;
    padding: 15rem 5rem;
    font-size: 6rem;
    transition: left var(--fast);
    z-index: 10;
  }

  nav ul.closed {
    left: -120rem;
  }

  nav li {
    border-bottom: 0.5rem solid var(--gray);
    width: 100%;
  }

  nav li.small {
    display: block;
  }

  nav ul a {
    padding: 5rem 0 !important;
    width: 100%;
  }

  nav ul a i {
    font-size: 6rem;
    margin-left: 2.5rem;
  }

  nav #close,
  nav #close-screen {
    display: unset;
  }

  nav #close-screen {
    display: block;
    position: absolute;
    right: calc(20rem - 100%);
    top: 0;
    width: 100rem;
    height: calc(100vh - 20rem);
    background-color: var(--fade);
    transition: width var(--fast), right var(--fast);
  }

  nav ul.closed #close-screen {
    width: 0;
    right: 0;
  }

  nav #shadow {
    height: 10rem;
    bottom: -10rem;
    background: var(--navigation-shadow-mobile);
  }

  /* ================================================== Header ================================================== */

  header {
    height: 80vh;
  }

  header .cover {
    padding: 50rem 10rem;
    justify-content: flex-start;
  }

  header h2 {
    font-size: 8rem;
    margin-bottom: 20rem;
    padding-right: 20rem;
  }

  header p {
    font-weight: 200;
    font-size: 6rem;
    margin-bottom: 20rem;
    line-height: 150%;
    text-align: right;
    padding-left: 40rem;
  }

  header a {
    font-weight: 400;
    font-size: 6rem;
    padding: 2rem 8rem;
    border-radius: 10rem;
    background-color: var(--blue);
  }

  /* ================================================== Main ================================================== */

  main#about-us,
  main#our-services {
    padding-top: 25rem;
  }

  main section {
    padding: 25rem 10rem;
  }

  main h4 {
    font-size: 10rem;
    margin-bottom: 15rem;
  }

  main p {
    font-size: 6rem;
    line-height: 150%;
    margin-bottom: 10rem;
    text-align: left;
  }

  main h5 {
    text-align: left;
    font-weight: 500;
    font-size: 8rem;
    margin-bottom: 5rem;
  }

  main p:last-of-type {
    margin-bottom: 0;
  }

  /* ================================================== Featured Showcase ================================================== */

  main #featured-showcase {
    margin: 25rem 0 25rem;
    padding: 0;
    grid-template-columns: auto;
    row-gap: 15rem;
  }

  main #featured-showcase img {
    height: 80rem;
    border-radius: 3rem;
    margin-bottom: 2.5rem;
    box-shadow: 0 0 2.5rem var(--shadow);
  }

  main #featured-showcase span {
    font-size: 8rem;
    margin-top: 5rem;
  }

  main #featured-showcase a:hover {
    transform: translateY(-5rem);
  }

  main #featured-showcase a:hover img {
    box-shadow: 0 0 2.5rem var(--shadow);
  }

  main #featured-showcase a:hover span {
    transform: translateY(2.5rem);
  }

  /* ================================================== Showcase ================================================== */

  main #showcase {
    margin: 25rem 0;
    padding: 10rem;
    height: 80rem;
  }

  main #showcase a:not(:last-of-type) {
    margin-right: 10rem;
  }

  /* ================================================== Footer ================================================== */

  footer {
    padding: 15rem 15rem 5rem;
  }

  footer .flex {
    flex-direction: column;
    margin-bottom: 10rem;
  }

  footer img {
    width: 12rem;
    height: 12rem;
    margin-right: 3rem;
    border-radius: 3rem;
  }

  footer span {
    font-size: 6rem;
    margin: 0 0 10rem;
  }

  footer ul {
    margin: 0;
  }

  footer a {
    font-size: 5rem;
    padding: 2.5rem 0;
  }

  footer p {
    font-size: 3rem;
  }

  /* ================================================== Store ================================================== */

  #store {
    display: block;
    padding: 25rem 10rem 25rem;
  }

  #store #store-first-slot {
    display: none;
  }

  #store #store-first {
    padding: 15rem 0 0;
    position: unset;
    width: unset;
    border-radius: unset;
  }

  #store #store-first h5 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }

  #store #store-first hr {
    border: 0.5rem solid var(--gray);
    margin: 2.5rem 0;
  }

  #store #store-first #type {
    grid-template-columns: 6fr 5fr;
    column-gap: 5rem;
  }

  #store #store-first #type div {
    height: 12.5rem;
  }

  #store #store-first #type h4 {
    font-size: 6rem;
    padding: 2.5rem 5rem;
    font-weight: 500;
  }

  #store #store-first #type div h4:last-of-type {
    background-color: var(--black);
  }

  #store #store-first #type .music h4:last-of-type {
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
  }

  #store #store-first #type .sfx h4:last-of-type {
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }

  #store #store-first #type div.selected h4:last-of-type {
    background-color: var(--blue);
  }

  #store #store-first #search input {
    font-size: 5rem;
    padding: 1rem 1rem 1rem 9rem;
    border-width: 1rem;
  }

  #store #store-first #search i {
    font-size: 5rem;
    left: 2.5rem;
    transform: translateY(-50%);
  }

  #store #store-first #category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -2.5rem;
  }

  #store #store-first #category button:first-of-type,
  #store #store-first #category button:last-of-type {
    border-radius: 0;
  }

  #store #store-first #category span {
    font-size: 4rem;
    margin: 5rem 2.5rem;
  }

  #store #store-first #category center {
    margin: 15rem 0;
    font-size: 4rem;
  }

  #store #store-first button {
    padding: 1rem 2rem;
    font-size: 4rem;
    width: unset;
    min-width: 25rem;
    margin: 2.5rem;
    flex: 1 0 auto;
    justify-content: center;
  }

  #store #store-first button img,
  #store #store-first button div {
    width: 8rem;
    height: 8rem;
    margin-right: 2.5rem;
  }

  #store #store-first #sort {
    display: flex;
    justify-content: center;
  }

  #store #store-first button.radio {
    margin: 0 2.5rem;
    min-width: unset;
    flex: unset;
    padding: 0;
  }

  #store #store-first button.radio div {
    width: 4rem;
    height: 4rem;
    border: 0.5rem solid var(--gray);
  }

  #store #store-first button.selected.radio div {
    background-color: var(--black);
  }

  #store #section-border {
    display: block;
    border: 0.5rem solid var(--blue);
    margin: 10rem 0;
  }

  #store #store-second {
    padding: 0;
  }

  #store #store-second h5 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 10rem;
  }

  #store #store-second #featured {
    grid-template-columns: 1fr;
    row-gap: 5rem;
    margin-bottom: 10rem;
  }

  #store #store-second #featured img {
    height: 35rem;
    border-radius: 3rem;
    box-shadow: 0 0 2.5rem var(--shadow);
  }

  #store #store-second #products {
    grid-template-columns: 1fr 1fr;
    row-gap: 10rem;
    column-gap: 10rem;
  }

  #store #store-second #products center {
    grid-column: span 2;
    font-size: 6rem;
    margin: 10rem 0;
  }

  #store #store-second #products button img {
    border-radius: 3rem;
    margin-bottom: 2.5rem;
  }

  #store #store-second #products button:hover img {
    transform: scale(110%);
  }

  #store #store-second #products button h6 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }

  #store #store-second #products button a {
    border: 0.8rem solid var(--blue);
    font-size: 4rem;
    padding: 0.5rem 5rem;
  }

  #store #store-second #products button a:hover {
    background-color: var(--blue);
    color: var(--white);
  }

  #store #store-second #products button a.disabled {
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
  }

  #store #store-second #products button i {
    right: 3rem;
    top: 3rem;
    font-size: 8rem;
  }

  #store #store-second #products button:hover i {
    font-size: 10rem;
    transform: translate(2rem, -2rem) rotate(30deg);
  }

  #store #top {
    padding: 5rem 10rem;
    width: 40rem;
    margin: 15rem auto 0;
    font-size: 6rem;
  }

  #store #top i {
    margin-left: 2.5rem;
    font-size: 8rem;
  }

  /* ================================================== Pop-Up ================================================== */

  #pop-up section {
    width: calc(100vw - 10rem);
    padding: 5rem;
    font-size: 5rem;
    transform: translate(-50%, 30rem);
    box-shadow: 0 0 5rem var(--shadow);
  }

  #pop-up section h3 {
    font-size: 10rem;
    margin-bottom: 10rem;
  }

  #pop-up section hr {
    border: 0.4rem solid var(--blue);
    margin: 10rem 0 5rem;
  }

  /* ================================================== Input ================================================== */

  .input {
    margin-bottom: 5rem;
  }

  .input input,
  .input select {
    width: 80rem;
    border: 0.8rem solid var(--blue);
  }

  .input input {
    padding: 1rem 2.5rem 1rem 10rem;
  }

  .input select {
    padding: 1rem 2.5rem 1rem 8.5rem;
  }

  .input i {
    left: 3rem;
  }

  .input i.fa-eye,
  .input i.fa-eye-slash {
    left: unset;
    right: 3rem;
  }

  .button {
    padding: 1rem 5rem;
    margin-bottom: 2.5rem;
  }

  .form p {
    margin-bottom: 2.5rem;
  }

  /* ================================================== Sign Up ================================================== */

  #register-phase.first {
    height: 55rem;
  }

  #register-phase.second {
    height: 50rem;
  }

  #register-phase.third {
    height: 45rem;
  }

  /* ================================================== Loading ================================================== */

  #loading {
    font-size: 10rem;
  }

  /* ================================================== Notification ================================================== */

  #notification {
    top: -50rem;
    min-width: 100rem;
    font-size: 6rem;
    padding: 2rem;
    box-shadow: 0 0 5rem var(--shadow);
  }

  #notification.active {
    top: 10rem;
  }

  /* ================================================== Product ================================================== */

  /* Pop-Up Design Removed */

  #product {
    padding: 20rem 0 0;
    align-items: flex-end;
  }

  #product #product-cover {
    height: 75%;
    background-position: 0% 50%;
  }

  #product #product-cover div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15rem;
    background: var(--cover-shadow-mobile);
  }

  #product #product-section {
    margin-bottom: 5rem;
    width: calc(100vw - 10rem);
    height: 150rem;
    box-shadow: 0 0 5rem var(--white-shadow);
  }

  #product #product-section #product-image {
    display: none;
  }

  #product #product-section #product-content {
    padding: 10rem;
  }

  #pop-up #product-section #product-content h3,
  #product #product-section #product-content h3 {
    font-weight: 400;
    font-size: 8rem;
    flex-wrap: wrap;
  }

  #pop-up #product-section #product-content h3 span:first-of-type,
  #product #product-section #product-content h3 span:first-of-type {
    margin-left: 2.5rem;
  }

  #pop-up #product-section #product-content h3 span:last-of-type,
  #product #product-section #product-content h3 span:last-of-type {
    font-size: 8rem;
    margin-left: 5rem;
    font-weight: 600;
  }

  #pop-up #product-section #product-content h3 button,
  #product #product-section #product-content h3 button {
    margin-top: 5rem;
    margin-bottom: 10rem;
    font-size: 5rem;
    padding: 0.5rem 5rem;
    border-radius: 10rem;
    border: 0.8rem solid;
  }

  #product #product-section #product-content h3 button:first-of-type {
    margin-left: 0;
  }

  #product #product-section #product-content h3 button:last-of-type {
    margin-left: 5rem;
  }

  #product #product-section #product-content p {
    text-align: left;
    margin-top: 10rem;
  }

  /* ================================================== Cart & Inventory ================================================== */

  #cart-button.active {
    border-radius: 0;
  }

  #cart-button.active span {
    margin-left: 2.5rem;
    max-width: 10rem;
  }

  #pop-up #cart-section {
    width: calc(100vw - 10rem);
    max-height: calc(100vh - 10rem);
  }

  #pop-up #cart-section > div:first-of-type,
  #pop-up #cart-section ul li,
  #pop-up #user-section #inventory > div:first-of-type,
  #pop-up #user-section #inventory ul li {
    font-size: 5rem;
  }

  #pop-up #cart-section hr,
  #pop-up #user-section #inventory hr {
    margin: 2.5rem 0 0;
  }

  #pop-up #cart-section ul li,
  #pop-up #user-section #inventory ul li {
    padding: 2.5rem 0;
    border-bottom: 0.4rem solid var(--gray);
  }

  #pop-up #cart-section ul li:last-of-type,
  #pop-up #user-section #inventory ul li:last-of-type {
    margin-bottom: 10rem;
  }

  #pop-up #cart-section ul li img,
  #pop-up #user-section #inventory ul li img {
    width: 25rem;
    margin-right: 2.5rem;
  }

  #pop-up #cart-section ul li > div div span:not(:last-of-type),
  #pop-up #user-section #inventory ul li > div div span:not(:last-of-type) {
    margin-bottom: 3.5rem;
  }

  #pop-up #cart-section > #cart-checkout {
    margin-bottom: 15rem;
  }

  #pop-up #cart-section button {
    font-size: 4rem;
    padding: 1rem 5rem;
  }

  #pop-up #cart-section #cart-control,
  #pop-up #cart-section #cart-loading {
    backdrop-filter: blur(1rem);
  }

  #pop-up #cart-section #cart-loading {
    font-size: 10rem;
  }

  #pop-up #cart-section #cart-control p {
    padding: 2.5rem;
    width: calc(100% - 10rem);
    margin-bottom: 5rem;
  }

  #pop-up #cart-section #cart-control button:first-of-type {
    margin-right: 5rem;
  }

  #mobile-cart {
    position: fixed;
    display: flex;
    top: 30rem;
    right: 5rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    color: var(--white);
    padding: 1rem 5rem;
    border-radius: 10rem;
    opacity: 50%;
    box-shadow: 0 0 2.5rem var(--white-shadow);
    transition: top var(--fast), opacity var(--slow);
  }

  nav.initial ~ #mobile-cart {
    top: 35rem;
  }

  #mobile-cart i {
    margin-left: 2.5rem;
  }

  #mobile-cart span {
    margin-left: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-width var(--fast), margin-left var(--fast);
  }

  #mobile-cart.active {
    opacity: 1;
  }

  #mobile-cart.beat {
    animation: beat var(--slow);
  }

  #mobile-cart.active span {
    max-width: 10rem;
    margin-left: 2.5rem;
  }

  /* ================================================== User Pop-Up ================================================== */

  #pop-up #user-section {
    width: calc(100vw - 10rem);
    max-height: calc(100vh - 10rem);
  }

  #pop-up #user-section h3 {
    margin-bottom: 10rem;
  }

  #pop-up #user-section #user-information {
    grid-template-columns: 1fr 2fr;
    row-gap: 5rem;
  }

  #pop-up #user-section #user-image {
    grid-row: unset;
    grid-column: span 2;
    font-size: 25rem;
    margin: 0;
  }

  #pop-up #user-section #user-save {
    margin: 5rem 0 0;
  }

  #pop-up #user-section hr {
    margin: 10rem 0;
  }

  #pop-up #user-section #user-loading {
    backdrop-filter: blur(1rem);
  }

  #pop-up #user-section #inventory {
    width: unset;
  }

  #pop-up #user-section #inventory button {
    border-radius: 3rem;
    margin-bottom: 0;
  }

  /* ================================================== Team ================================================== */

  #team-showcase {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15rem;
    margin: 0;
  }

  #team-showcase a {
    flex-direction: row;
    justify-content: flex-start;
  }

  #team-showcase a:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  #team-showcase > div {
    display: none;
  }

  #team-showcase a img {
    width: 40rem;
    height: 40rem;
    box-shadow: 0 0 3rem var(--shadow);
    border-width: 1.6rem;
    margin: 0 7.5rem 0 0;
  }

  #team-showcase a:nth-of-type(even) img {
    margin: 0 0 0 7.5rem;
  }

  #team-showcase a div {
    align-items: flex-start;
  }

  #team-showcase a:nth-of-type(even) div {
    align-items: flex-end;
  }

  #team-showcase span:first-of-type {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  #team-showcase span:last-of-type {
    font-size: 5rem;
  }
}
