:root {
  --dark-black: #000;
  --black: #19191b;
  --white: #f7f7f7; /* #fff */
  --blue: #384e96;
  --gray: #bfbecc;
  --dark-gray: #878da1;
  --red: #e93535;
  --green: #139e01;

  --fade: rgba(25, 25, 37, 85%);

  --instant: 0.1s;
  --instant-delay: 0s ease 0.1s;
  --fast: 0.2s;
  --fast-delay: 0s ease 0.2s;
  --slow: 0.35s;

  --shadow: rgba(25, 25, 27, 45%);
  --white-shadow: rgba(255, 255, 255, 25%);
  --navigation-shadow: linear-gradient(rgba(25, 25, 27, 15%), transparent);
  --inverted-navigation-shadow: linear-gradient(
    transparent,
    rgba(25, 25, 27, 15%)
  );
  --navigation-shadow-mobile: linear-gradient(
    rgba(25, 25, 27, 7.5%),
    transparent
  );
  --navigation-inverted-shadow-mobile: linear-gradient(
    transparent,
    rgba(25, 25, 27, 7.5%)
  );
  --navigation-about-us: #eeeeee;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(calc(-100% + 100rem));
  }

  100% {
    transform: translateX(0);
  }
}

/* ================================================== Dark ================================================== */

:root .dark {
  --red: #cf2828;
  --green: #2eb31d;
}

.dark::-webkit-scrollbar-thumb {
  background-color: var(--white);
}

.dark::-webkit-scrollbar-thumb:active {
  background-color: var(--blue);
}

.dark nav {
  background-color: var(--blue);
  color: var(--white);
}

.dark nav #about-us-navigation div {
  background-color: var(--blue);
}

@media (max-aspect-ratio: 1/1) {
  .dark nav ul {
    background-color: var(--blue);
  }
}

.dark nav #about-us-navigation div {
  box-shadow: 0 -0.5rem var(--blue), 0 0 0.5rem var(--shadow); /* Fixes the thin line. */
}

.dark nav #logo {
  background-color: var(--white);
}

.dark main {
  background-color: var(--black);
}

.dark main section {
  background-color: var(--black);
  color: var(--white);
}

.dark main #showcase {
  background-color: var(--white);
}

.dark #product #product-section #product-content h3 {
  background-color: var(--blue);
}

.dark #product #product-section #product-content h3 button {
  border: none;
}
