:root {
  --dark-black: #000;
  --black: #19191b;
  --white: #ffffff;
  --blue: #386996;
  --dark-blue: #2b4966;
  --gray: #bfbecc;
  --red: #e93535;
  --green: #139e01;

  --fade: rgba(25, 25, 37, 85%);

  --instant: 0.1s;
  --instant-delay: 0s ease 0.1s;
  --fast: 0.2s;
  --fast-delay: 0s ease 0.2s;
  --slow: 0.35s;

  --shadow: rgba(25, 25, 27, 45%);
  --white-shadow: rgba(255, 255, 255, 25%);
  --navigation-shadow: linear-gradient(rgba(25, 25, 27, 10%), transparent);
  --navigation-shadow-mobile: linear-gradient(
    rgba(25, 25, 27, 15%),
    transparent
  );
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(calc(-100% + 100rem));
  }

  100% {
    transform: translateX(0);
  }
}

/* ================================================== Dark ================================================== */

:root .dark {
  --blue: #397fc0;
  --dark-blue: #386996;
  --red: #c41414;
  --green: #1b920b;

  --navigation-shadow: linear-gradient(rgba(0, 0, 0, 25%), transparent);
  --navigation-shadow-mobile: linear-gradient(rgba(0, 0, 0, 30%), transparent);
}

.dark nav {
  background-color: var(--black);
  color: var(--white);
}

.dark nav ul {
  background-color: var(--black);
}

.dark nav #logo {
  background-color: var(--white);
}

.dark main {
  background-color: var(--black);
}

.dark main section {
  background-color: var(--black);
  color: var(--white);
}

.dark main #showcase {
  background-color: var(--white);
}
